<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../public/css/style.css" />
		<title>Generated Ticket</title>
	</head>
	<body>
		<div class="container">
			<h1>Welcome <%= username %>!</h1>
			<h2>Here are the details of the newly generated ticket:</h2>
			<h4>vatin: <%= vatin %></h4>
			<h4>First name: <%= firstName %></h4>
			<h4>Last name: <%= lastName %></h4>
			<h4>Time of ticket generation:<%= creationTime %></h4>
		</div>
	</body>
</html>
